In [2]:
class cfg():
    df_path = "/Users/user/pythonpractice/Omdena/Predicting Student Sucess Omdena Ankara 2023/student-mat.csv"

    test_size = 0.3

In [3]:
import pandas as pd

weight_g1 = 0.3
weight_g2 = 0.3
weight_g3 = 0.4

df = pd.read_csv(cfg.df_path, delimiter=";")

df.insert(0, "id", range(len(df)))

def calculate_final_score(df):
    df["Final_Score"] = (df['G1'] * weight_g1) + (df['G2'] * weight_g2) + (df['G3'] * weight_g3)
    return df

df = calculate_final_score(df)

In [4]:
test = df.sample(frac=cfg.test_size, random_state=42)

train = df.drop(test.index)

train.to_csv("train-student-mat.csv")
test.to_csv("test-student-mat.csv")

In [7]:
test

,id,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Final_Score
78,78,GP,M,17,U,GT3,T,2,1,other,...,5,1,1,1,3,2,8,8,10,8.8
371,371,MS,M,18,R,LE3,T,1,2,at_home,...,3,3,2,3,3,3,14,12,12,12.6
248,248,GP,M,18,R,LE3,T,3,3,other,...,3,3,1,3,5,8,3,5,5,4.4
55,55,GP,F,16,U,GT3,A,2,1,other,...,3,4,1,1,2,8,8,9,10,9.1
390,390,MS,M,20,U,LE3,A,2,2,services,...,5,4,4,5,4,11,9,9,9,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,79,GP,F,16,U,GT3,T,3,4,at_home,...,4,3,1,2,3,12,5,5,5,5.0
281,281,GP,M,17,U,LE3,A,3,2,teacher,...,4,4,3,4,3,19,11,9,10,10.0
245,245,GP,M,16,U,GT3,T,2,1,other,...,3,3,1,1,4,6,18,18,18,18.0
250,250,GP,M,18,U,GT3,T,3,2,services,...,4,5,2,4,5,0,6,8,8,7.4
218,218,GP,F,17,U,GT3,T,2,3,at_home,...,3,3,1,4,3,3,7,7,8,7.4